section.places {
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

section.places > h1 {
	text-align: left;
	font-size: 30px;
	flex: 1 0 100%;
}

section.places > article{
	width: 390px;
	padding: 20px;
	margin: 20px;
	border: 1px solid #ff5a5f;
	border-radius: 4px;
}


section.places > article > h2{
	font-size: 30px;
	text-align: center;
}
